.color {
	--ic-h: max(0, mod(var(--hue), 360) / 360);
	--ic-l: clamp(0, var(--lightness) / 100, 1);
	--ic-t0: calc(
		(
			0.9 *
			clamp(0, var(--ic-h) / 0.088, 1) +
			0.1 *
			pow(clamp(0, var(--ic-h) / 0.088, 1), 3)
		) *
		0.097
	);
	--ic-t1: calc(
		(
			1.35 *
			clamp(0, (var(--ic-h) - 0.088) / 0.219, 1) +
			-1.125 *
			pow(clamp(0, (var(--ic-h) - 0.088) / 0.219, 1), 2) +
			0.775 *
			pow(clamp(0, (var(--ic-h) - 0.088) / 0.219, 1), 3)
		) *
		0.159
	);
	--ic-t2: calc(
		(
			0.75 *
			clamp(0, (var(--ic-h) - 0.307) / 0.098, 1) +
			0.25 *
			pow(clamp(0, (var(--ic-h) - 0.307) / 0.098, 1), 3)
		) *
		0.166
	);
	--ic-t3: calc(
		(
			1.8 *
			clamp(0, (var(--ic-h) - 0.405) / 0.132, 1) +
			-1.2 *
			pow(clamp(0, (var(--ic-h) - 0.405) / 0.132, 1), 2) +
			0.4 *
			pow(clamp(0, (var(--ic-h) - 0.405) / 0.132, 1), 3)
		) *
		0.166
	);
	--ic-t4: calc(
		(
			1.275 *
			clamp(0, (var(--ic-h) - 0.537) / 0.121, 1) +
			-0.42 *
			pow(clamp(0, (var(--ic-h) - 0.537) / 0.121, 1), 2) +
			0.145 *
			pow(clamp(0, (var(--ic-h) - 0.537) / 0.121, 1), 3)
		) *
		0.084
	);
	--ic-t5: calc(
		(
			0.9 *
			clamp(0, (var(--ic-h) - 0.658) / 0.076, 1) +
			-0.9 *
			pow(clamp(0, (var(--ic-h) - 0.658) / 0.076, 1), 2) +
			1 *
			pow(clamp(0, (var(--ic-h) - 0.658) / 0.076, 1), 3)
		) *
		0.084
	);
	--ic-t6: calc(
		(
			1.05 *
			clamp(0, (var(--ic-h) - 0.734) / 0.187, 1) +
			-0.27 *
			pow(clamp(0, (var(--ic-h) - 0.734) / 0.187, 1), 2) +
			0.22 *
			pow(clamp(0, (var(--ic-h) - 0.734) / 0.187, 1), 3)
		) *
		0.166
	);
	--ic-t7: calc(
		(
			1.02 *
			clamp(0, (var(--ic-h) - 0.921) / 0.079, 1) +
			0.06 *
			pow(clamp(0, (var(--ic-h) - 0.921) / 0.079, 1), 2) +
			-0.08 *
			pow(clamp(0, (var(--ic-h) - 0.921) / 0.079, 1), 3)
		) *
		0.078
	);
	--ic-t16: calc(clamp(0, (var(--ic-h) - 0.088) / 0.833, 1) * 0.825);
	--ic-l-max: calc(
		(
			0.7223 +
			-0.144 *
			mod(calc(0.09 + var(--ic-t0) + var(--ic-t16) + var(--ic-t7)), 1) *
			6 +
			0.0696 *
			pow(
				mod(calc(0.09 + var(--ic-t0) + var(--ic-t16) + var(--ic-t7)), 1) *
				6,
				2
			)
		) *
		max(
			sign(
				calc(
					1 / 6 -
					mod(calc(0.09 + var(--ic-t0) + var(--ic-t16) + var(--ic-t7)), 1)
				)
			),
			0
		) +
		(
			0.6479 +
			0.2842 *
			((0.09 + var(--ic-t0) + var(--ic-t1)) * 6 - 1) +
			0.0245 *
			pow(((0.09 + var(--ic-t0) + var(--ic-t1)) * 6 - 1), 2)
		) *
		clamp(sign(calc((0.09 + var(--ic-t0) + var(--ic-t1)) - 1 / 6)), 0, 1) *
		max(sign(calc(1 / 3 - (0.09 + var(--ic-t0) + var(--ic-t1)))), 0) +
		(
			0.9566 +
			-0.1248 *
			((0.187 + var(--ic-t1) + var(--ic-t2)) * 6 - 2) +
			0.0173 *
			pow(((0.187 + var(--ic-t1) + var(--ic-t2)) * 6 - 2), 2)
		) *
		clamp(sign(calc((0.187 + var(--ic-t1) + var(--ic-t2)) - 1 / 3)), 0, 1) *
		max(sign(calc(0.5 - (0.187 + var(--ic-t1) + var(--ic-t2)))), 0) +
		(
			0.8491 +
			0.0238 *
			((0.346 + var(--ic-t2) + var(--ic-t3)) * 6 - 3) +
			0.016 *
			pow(((0.346 + var(--ic-t2) + var(--ic-t3)) * 6 - 3), 2)
		) *
		clamp(sign(calc((0.346 + var(--ic-t2) + var(--ic-t3)) - 0.5)), 0, 1) *
		max(sign(calc(2 / 3 - (0.346 + var(--ic-t2) + var(--ic-t3)))), 0) +
		(
			0.8889 +
			-0.3468 *
			((0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)) * 6 - 4) +
			-0.074 *
			pow(((0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)) * 6 - 4), 2)
		) *
		clamp(
			sign(calc((0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)) - 2 / 3)),
			0,
			1
		) *
		max(
			sign(calc(5 / 6 - (0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)))),
			0
		) +
		(
			0.4681 +
			0.0936 *
			((0.762 + var(--ic-t5) + var(--ic-t6)) * 6 - 5) +
			0.1606 *
			pow(((0.762 + var(--ic-t5) + var(--ic-t6)) * 6 - 5), 2)
		) *
		clamp(sign(calc((0.762 + var(--ic-t5) + var(--ic-t6)) - 5 / 6)), 0, 1)
	);
	--ic-chroma: min(
		clamp(0, var(--chroma) / 100, 1),
		(
			(
				0.3585 +
				-0.16 *
				mod(calc(0.09 + var(--ic-t0) + var(--ic-t16) + var(--ic-t7)), 1) *
				6 +
				0.0998 *
				pow(
					mod(calc(0.09 + var(--ic-t0) + var(--ic-t16) + var(--ic-t7)), 1) *
					6,
					2
				)
			) *
			max(
				sign(
					calc(
						1 / 6 -
						mod(calc(0.09 + var(--ic-t0) + var(--ic-t16) + var(--ic-t7)), 1)
					)
				),
				0
			) +
			(
				0.2983 +
				-0.3412 *
				((0.09 + var(--ic-t0) + var(--ic-t1)) * 6 - 1) +
				0.2885 *
				pow(((0.09 + var(--ic-t0) + var(--ic-t1)) * 6 - 1), 2)
			) *
			min(max(sign(calc((0.09 + var(--ic-t0) + var(--ic-t1)) - 1 / 6)), 0), 1) *
			max(sign(calc(1 / 3 - (0.09 + var(--ic-t0) + var(--ic-t1)))), 0) +
			(
				0.2456 +
				0.0618 *
				((0.187 + var(--ic-t1) + var(--ic-t2)) * 6 - 2) +
				0.0566 *
				pow(((0.187 + var(--ic-t1) + var(--ic-t2)) * 6 - 2), 2)
			) *
			min(max(sign(calc((0.187 + var(--ic-t1) + var(--ic-t2)) - 1 / 3)), 0), 1) *
			max(sign(calc(0.5 - (0.187 + var(--ic-t1) + var(--ic-t2)))), 0) +
			(
				0.364 +
				-0.274 *
				((0.346 + var(--ic-t2) + var(--ic-t3)) * 6 - 3) +
				0.1159 *
				pow(((0.346 + var(--ic-t2) + var(--ic-t3)) * 6 - 3), 2)
			) *
			min(max(sign(calc((0.346 + var(--ic-t2) + var(--ic-t3)) - 0.5)), 0), 1) *
			max(sign(calc(2 / 3 - (0.346 + var(--ic-t2) + var(--ic-t3)))), 0) +
			(
				0.2059 +
				-0.1498 *
				((0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)) * 6 - 4) +
				0.26475 *
				pow(((0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)) * 6 - 4), 2)
			) *
			min(
				max(
					sign(
						calc((0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)) - 2 / 3)
					),
					0
				),
				1
			) *
			max(
				sign(calc(5 / 6 - (0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)))),
				0
			) +
			(
				0.32085 +
				-0.0841 *
				((0.762 + var(--ic-t5) + var(--ic-t6)) * 6 - 5) +
				0.12175 *
				pow(((0.762 + var(--ic-t5) + var(--ic-t6)) * 6 - 5), 2)
			) *
			min(max(sign(calc((0.762 + var(--ic-t5) + var(--ic-t6)) - 5 / 6)), 0), 1)
		) *
		(
			(1 - max(sign(calc(var(--ic-l) - var(--ic-l-max))), 0)) *
			var(--ic-l) /
			var(--ic-l-max) +
			max(sign(calc(var(--ic-l) - var(--ic-l-max))), 0) *
			clamp(0, 1 - (var(--ic-l) - var(--ic-l-max)) / (1 - var(--ic-l-max)), 1)
		)
	);
	--ic-test: calc(
		(
			(
				0.3585 +
				-0.16 *
				mod(calc(0.09 + var(--ic-t0) + var(--ic-t16) + var(--ic-t7)), 1) *
				6 +
				0.0998 *
				pow(
					mod(calc(0.09 + var(--ic-t0) + var(--ic-t16) + var(--ic-t7)), 1) *
					6,
					2
				)
			) *
			max(
				sign(
					calc(
						1 / 6 -
						mod(calc(0.09 + var(--ic-t0) + var(--ic-t16) + var(--ic-t7)), 1)
					)
				),
				0
			) +
			(
				0.2983 +
				-0.3412 *
				((0.09 + var(--ic-t0) + var(--ic-t1)) * 6 - 1) +
				0.2885 *
				pow(((0.09 + var(--ic-t0) + var(--ic-t1)) * 6 - 1), 2)
			) *
			min(max(sign(calc((0.09 + var(--ic-t0) + var(--ic-t1)) - 1 / 6)), 0), 1) *
			max(sign(calc(1 / 3 - (0.09 + var(--ic-t0) + var(--ic-t1)))), 0) +
			(
				0.2456 +
				0.0618 *
				((0.187 + var(--ic-t1) + var(--ic-t2)) * 6 - 2) +
				0.0566 *
				pow(((0.187 + var(--ic-t1) + var(--ic-t2)) * 6 - 2), 2)
			) *
			min(max(sign(calc((0.187 + var(--ic-t1) + var(--ic-t2)) - 1 / 3)), 0), 1) *
			max(sign(calc(0.5 - (0.187 + var(--ic-t1) + var(--ic-t2)))), 0) +
			(
				0.364 +
				-0.274 *
				((0.346 + var(--ic-t2) + var(--ic-t3)) * 6 - 3) +
				0.1159 *
				pow(((0.346 + var(--ic-t2) + var(--ic-t3)) * 6 - 3), 2)
			) *
			min(max(sign(calc((0.346 + var(--ic-t2) + var(--ic-t3)) - 0.5)), 0), 1) *
			max(sign(calc(2 / 3 - (0.346 + var(--ic-t2) + var(--ic-t3)))), 0) +
			(
				0.2059 +
				-0.1498 *
				((0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)) * 6 - 4) +
				0.26475 *
				pow(((0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)) * 6 - 4), 2)
			) *
			min(
				max(
					sign(
						calc((0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)) - 2 / 3)
					),
					0
				),
				1
			) *
			max(
				sign(calc(5 / 6 - (0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)))),
				0
			) +
			(
				0.32085 +
				-0.0841 *
				((0.762 + var(--ic-t5) + var(--ic-t6)) * 6 - 5) +
				0.12175 *
				pow(((0.762 + var(--ic-t5) + var(--ic-t6)) * 6 - 5), 2)
			) *
			min(max(sign(calc((0.762 + var(--ic-t5) + var(--ic-t6)) - 5 / 6)), 0), 1)
		)
	);
	--o-color: oklch(var(--ic-l) var(--ic-chroma) calc(var(--ic-h) * 360deg) / 1);

	&.contrast {
		--ic-pfl: calc(
			1 -
			abs(sign(calc(var(--polarity) - var(--polarity-force-dark))))
		);
		--ic-ppl: calc(
			1 -
			abs(sign(calc(var(--polarity) - var(--polarity-prefer-dark))))
		);
		--ic-ppd: calc(
			1 -
			abs(sign(calc(var(--polarity) - var(--polarity-prefer-light))))
		);
		--ic-pfd: calc(
			1 -
			abs(sign(calc(var(--polarity) - var(--polarity-force-light))))
		);
		--ic-x: clamp(0, var(--contrast) / 100, 1.08);
		--ic-ydl: calc(
			var(--ic-chroma) *
			(
				0.3963377773761749 *
				cos(var(--ic-h) * pi * 2) +
				0.2158037573099136 *
				sin(var(--ic-h) * pi * 2)
			)
		);
		--ic-ydm: calc(
			var(--ic-chroma) *
			(
				-0.1055613458156586 *
				cos(var(--ic-h) * pi * 2) +
				-0.0638541728258133 *
				sin(var(--ic-h) * pi * 2)
			)
		);
		--ic-yds: calc(
			var(--ic-chroma) *
			(
				-0.0894841775298119 *
				cos(var(--ic-h) * pi * 2) +
				-1.2914855480194092 *
				sin(var(--ic-h) * pi * 2)
			)
		);
		--ic-yc0: calc(
			-0.04077452336091804 *
			pow(var(--ic-ydl), 3) +
			1.1124921587493157 *
			pow(var(--ic-ydm), 3) +
			-0.07171763538839791 *
			pow(var(--ic-yds), 3)
		);
		--ic-yc1: calc(
			-0.04077452336091804 *
			pow(var(--ic-ydl), 2) +
			1.1124921587493157 *
			pow(var(--ic-ydm), 2) +
			-0.07171763538839791 *
			pow(var(--ic-yds), 2)
		);
		--ic-yc2: calc(
			-0.04077452336091804 *
			var(--ic-ydl) +
			1.1124921587493157 *
			var(--ic-ydm) +
			-0.07171763538839791 *
			var(--ic-yds)
		);
		--ic-y: calc(
			var(--ic-yc0) +
			var(--ic-yc1) *
			var(--ic-l) +
			var(--ic-yc2) *
			pow(var(--ic-l), 2) +
			pow(var(--ic-l), 3)
		);
		--ic-yadj: calc(
			max(sign(calc(0.022 - var(--ic-y))), 0) *
			(
				0.0045272 +
				0.0150728 *
				var(--ic-y) /
				0.022 +
				0.0024 *
				pow(var(--ic-y) / 0.022, 2)
			) +
			(1 - max(sign(calc(0.022 - var(--ic-y))), 0)) *
			var(--ic-y)
		);
		--ic-xnmin: calc(
			pow(
				abs(calc(pow(var(--ic-yadj), 0.56) - (var(--apca-t) + 0.027) / 1.14)),
				1 / 0.57
			) *
			sign(calc(pow(var(--ic-yadj), 0.56) - (var(--apca-t) + 0.027) / 1.14))
		);
		--ic-xnv: calc(
			-1 *
			abs(calc(((pow(abs(var(--ic-xnmin)), 0.43)) * var(--apca-t)) / 0.6498))
		);
		--ic-xn: calc(
			min(1, max(0, sign(calc(var(--ic-x) - var(--apca-t))) + 1)) *
			pow(
				abs(calc(pow(var(--ic-yadj), 0.56) - (var(--ic-x) + 0.027) / 1.14)),
				1 / 0.57
			) *
			sign(calc(pow(var(--ic-yadj), 0.56) - (var(--ic-x) + 0.027) / 1.14)) +
			(1 - min(1, max(0, sign(calc(var(--ic-x) - var(--apca-t))) + 1))) *
			(
				var(--ic-yadj) +
				(-3 * var(--ic-yadj) + 3 * var(--ic-xnmin) - var(--ic-xnv)) *
				pow(var(--ic-x) / var(--apca-t), 2) +
				(2 * var(--ic-yadj) - 2 * var(--ic-xnmin) + var(--ic-xnv)) *
				pow(var(--ic-x) / var(--apca-t), 3)
			)
		);
		--ic-xng: calc(
			(
				sign(calc(var(--ic-xn) + var(--ep))) +
				sign(calc(1 - var(--ep) - var(--ic-xn)))
			) /
			2
		);
		--ic-xrmin: calc(
			pow(
				abs(calc(pow(var(--ic-yadj), 0.65) + (var(--apca-t) + 0.027) / 1.14)),
				1 / 0.62
			) *
			sign(calc(pow(var(--ic-yadj), 0.65) + (var(--apca-t) + 0.027) / 1.14))
		);
		--ic-xrv: calc(
			-1 *
			abs(calc((pow(abs(var(--ic-xrmin)), 0.38) * -1 * var(--apca-t)) / 0.7068))
		);
		--ic-xr: calc(
			min(1, max(0, sign(calc(var(--ic-x) - var(--apca-t))) + 1)) *
			pow(
				calc(pow(var(--ic-yadj), 0.65) - ((-1 * var(--ic-x)) - 0.027) / 1.14),
				1 / 0.62
			) +
			(1 - min(1, max(0, sign(calc(var(--ic-x) - var(--apca-t))) + 1))) *
			(
				var(--ic-yadj) +
				(-3 * var(--ic-yadj) + 3 * var(--ic-xrmin) - var(--ic-xrv)) *
				pow(var(--ic-x) / var(--apca-t), 2) +
				(2 * var(--ic-yadj) - 2 * var(--ic-xrmin) + var(--ic-xrv)) *
				pow(var(--ic-x) / var(--apca-t), 3)
			)
		);
		--ic-xrg: calc(
			(
				sign(calc(var(--ic-xr) + var(--ep))) +
				sign(calc(1 - var(--ep) - var(--ic-xr)))
			) /
			2
		);
		--ic-xyadj: clamp(
			0,
			clamp(
				0,
				var(--ic-pfd) +
				var(--ic-ppd) *
				(var(--ic-xrg) + (1 - var(--ic-xrg)) * (1 - var(--ic-xng))) +
				var(--ic-ppl) *
				(1 - var(--ic-xng)) *
				var(--ic-xrg),
				1
			) *
			var(--ic-xr) +
			clamp(
				0,
				var(--ic-pfl) +
				var(--ic-ppl) *
				(var(--ic-xng) + (1 - var(--ic-xng)) * (1 - var(--ic-xrg))) +
				var(--ic-ppd) *
				(1 - var(--ic-xrg)) *
				var(--ic-xng),
				1
			) *
			var(--ic-xn),
			1
		);
		--ic-xy: calc(
			max(sign(calc(0.022 - var(--ic-xyadj))), 0) *
			(
				(
					-0.685127272727 +
					sqrt(0.469399379835 - 19.8347107438 * (0.0045272 - var(--ic-xyadj)))
				) /
				9.9173553719
			) +
			(1 - max(sign(calc(0.022 - var(--ic-xyadj))), 0)) *
			var(--ic-xyadj)
		);
		--ic-xp: calc((3 * (var(--ic-yc1)) - pow(var(--ic-yc2), 2)) / 3);
		--ic-xq: calc(
			(
				2 *
				pow(var(--ic-yc2), 3) -
				9 *
				var(--ic-yc2) *
				(var(--ic-yc1)) +
				27 *
				(var(--ic-yc0) - var(--ic-xy))
			) /
			27
		);
		--ic-xd: calc(pow(var(--ic-xp) / 3, 3) + pow(var(--ic-xq) / 2, 2));
		--ic-xl: calc(
			sign(var(--ic-xd)) *
			(
				pow(abs(calc(var(--ic-xq) / -2 + sqrt(var(--ic-xd)))), 1 / 3) *
				sign(calc(var(--ic-xq) / -2 + sqrt(var(--ic-xd)))) +
				pow(abs(calc(var(--ic-xq) / -2 - sqrt(var(--ic-xd)))), 1 / 3) *
				sign(calc(var(--ic-xq) / -2 - sqrt(var(--ic-xd)))) -
				var(--ic-yc2) /
				3
			) +
			(1 - sign(var(--ic-xd))) *
			(var(--ic-yc2) / -3)
		);
		--ic-xc: min(
			(var(--ic-chroma) + clamp(0, var(--chroma) / 100, 1)) /
			2,
			(
				(
					0.3585 +
					-0.16 *
					mod(calc(0.09 + var(--ic-t0) + var(--ic-t16) + var(--ic-t7)), 1) *
					6 +
					0.0998 *
					pow(
						mod(calc(0.09 + var(--ic-t0) + var(--ic-t16) + var(--ic-t7)), 1) *
						6,
						2
					)
				) *
				max(
					sign(
						calc(
							1 / 6 -
							mod(calc(0.09 + var(--ic-t0) + var(--ic-t16) + var(--ic-t7)), 1)
						)
					),
					0
				) +
				(
					0.2983 +
					-0.3412 *
					((0.09 + var(--ic-t0) + var(--ic-t1)) * 6 - 1) +
					0.2885 *
					pow(((0.09 + var(--ic-t0) + var(--ic-t1)) * 6 - 1), 2)
				) *
				min(max(sign(calc((0.09 + var(--ic-t0) + var(--ic-t1)) - 1 / 6)), 0), 1) *
				max(sign(calc(1 / 3 - (0.09 + var(--ic-t0) + var(--ic-t1)))), 0) +
				(
					0.2456 +
					0.0618 *
					((0.187 + var(--ic-t1) + var(--ic-t2)) * 6 - 2) +
					0.0566 *
					pow(((0.187 + var(--ic-t1) + var(--ic-t2)) * 6 - 2), 2)
				) *
				min(
					max(sign(calc((0.187 + var(--ic-t1) + var(--ic-t2)) - 1 / 3)), 0),
					1
				) *
				max(sign(calc(0.5 - (0.187 + var(--ic-t1) + var(--ic-t2)))), 0) +
				(
					0.364 +
					-0.274 *
					((0.346 + var(--ic-t2) + var(--ic-t3)) * 6 - 3) +
					0.1159 *
					pow(((0.346 + var(--ic-t2) + var(--ic-t3)) * 6 - 3), 2)
				) *
				min(max(sign(calc((0.346 + var(--ic-t2) + var(--ic-t3)) - 0.5)), 0), 1) *
				max(sign(calc(2 / 3 - (0.346 + var(--ic-t2) + var(--ic-t3)))), 0) +
				(
					0.2059 +
					-0.1498 *
					((0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)) * 6 - 4) +
					0.26475 *
					pow(((0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)) * 6 - 4), 2)
				) *
				min(
					max(
						sign(
							calc((0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)) - 2 / 3)
						),
						0
					),
					1
				) *
				max(
					sign(
						calc(5 / 6 - (0.512 + var(--ic-t3) + var(--ic-t4) + var(--ic-t5)))
					),
					0
				) +
				(
					0.32085 +
					-0.0841 *
					((0.762 + var(--ic-t5) + var(--ic-t6)) * 6 - 5) +
					0.12175 *
					pow(((0.762 + var(--ic-t5) + var(--ic-t6)) * 6 - 5), 2)
				) *
				min(
					max(sign(calc((0.762 + var(--ic-t5) + var(--ic-t6)) - 5 / 6)), 0),
					1
				)
			) *
			(
				(1 - max(sign(calc(var(--ic-xl) - var(--ic-l-max))), 0)) *
				var(--ic-xl) /
				var(--ic-l-max) +
				max(sign(calc(var(--ic-xl) - var(--ic-l-max))), 0) *
				clamp(
					0,
					1 -
					(var(--ic-xl) - var(--ic-l-max)) /
					(1 - var(--ic-l-max)),
					1
				)
			)
		);

		--o-color-contrast: oklch(
			var(--ic-xl) var(--ic-xc) calc(var(--ic-h) * 360deg) /
			1
		);
	}
}
