@property --_color-hue {
	inherits: true;
	initial-value: 0;
	syntax: "<number>";
}
@property --_color-apexL {
	inherits: true;
	initial-value: 0;
	syntax: "<number>";
}
@property --_color-apexC {
	inherits: true;
	initial-value: 0;
	syntax: "<number>";
}
@property --_color-curvature {
	inherits: true;
	initial-value: 0;
	syntax: "<number>";
}
@property --_color-fA {
	inherits: true;
	initial-value: 0;
	syntax: "<number>";
}
@property --_color-fB {
	inherits: true;
	initial-value: 0;
	syntax: "<number>";
}
@property --_color-fD {
	inherits: true;
	initial-value: 0;
	syntax: "<number>";
}
@property --lightness {
	inherits: true;
	initial-value: 0;
	syntax: "<number>";
}
@property --chroma {
	inherits: true;
	initial-value: 0;
	syntax: "<number>";
}
@property --_color-mc {
	inherits: false;
	initial-value: 0;
	syntax: "<number>";
}
@property --color {
	inherits: true;
	initial-value: transparent;
	syntax: "<color>";
}
@property --_color-ybg {
	inherits: false;
	initial-value: 0;
	syntax: "<number>";
}
@property --_color-sc {
	inherits: false;
	initial-value: 0;
	syntax: "<number>";
}
@property --contrast-text {
	inherits: true;
	initial-value: 0;
	syntax: "<number>";
}
@property --_color-mc-text {
	inherits: false;
	initial-value: 0;
	syntax: "<number>";
}
@property --_cl-text {
	inherits: false;
	initial-value: 0;
	syntax: "<number>";
}
@property --_yt-text {
	inherits: false;
	initial-value: 0;
	syntax: "<number>";
}
@property --_lcl-text {
	inherits: false;
	initial-value: 0;
	syntax: "<number>";
}
@property --_yl-text {
	inherits: false;
	initial-value: 0;
	syntax: "<number>";
}
@property --_ylr-text {
	inherits: false;
	initial-value: 0;
	syntax: "<number>";
}
@property --_lcd-text {
	inherits: false;
	initial-value: 0;
	syntax: "<number>";
}
@property --_yd-text {
	inherits: false;
	initial-value: 0;
	syntax: "<number>";
}
@property --_ydr-text {
	inherits: false;
	initial-value: 0;
	syntax: "<number>";
}
@property --color-text {
	inherits: true;
	initial-value: transparent;
	syntax: "<color>";
}

.preview {
	--_color-mc: calc(
		(1 - max(0, sign(var(--lightness) - var(--_color-apexL)))) *
		var(--_color-apexC) *
		var(--lightness) /
		var(--_color-apexL) +
		max(0, sign(var(--lightness) - var(--_color-apexL))) *
		(
			var(--_color-apexC) *
			(1 - var(--lightness)) /
			(1 - var(--_color-apexL)) +
			var(--_color-curvature) *
			pow(
				sin(max(0, (var(--lightness) - var(--_color-apexL)) / (1 - var(--_color-apexL))) * pi),
				0.95
			) *
			var(--_color-apexC)
		)
	);
	--color: oklch(var(--lightness) calc(var(--_color-mc) * var(--chroma)) var(--_color-hue));
	--_color-ybg: calc(
		pow(var(--lightness), 3) *
		(
			1 +
			var(--_color-fA) *
			var(--chroma) +
			var(--_color-fB) *
			pow(var(--chroma), 2) +
			var(--_color-fD) *
			pow(var(--chroma), 3)
		)
	);
	--_color-sc: pow(pow(var(--_color-ybg), 1.75) + 0.00009, 0.57143);
	--_ylr-text: clamp(
		0,
		(1 - max(0, sign(abs(var(--contrast-text)) - 0.022))) *
		(
			(1 - pow(sin(min(abs(var(--contrast-text)) / 0.022, 1) * 1.5708), 2.46)) *
			var(--_color-sc) +
			pow(sin(min(abs(var(--contrast-text)) / 0.022, 1) * 1.5708), 2.46) *
			pow(pow(var(--_color-sc), 0.65) + 0.04298, 1.6129)
		) +
		max(0, sign(abs(var(--contrast-text)) - 0.022)) *
		pow(pow(var(--_color-sc), 0.65) + (abs(var(--contrast-text)) + 0.027) / 1.14, 1.6129),
		1
	);
	--_yl-text: pow(max(0, pow(var(--_ylr-text), 1.75) - 0.00009), 0.57143);
	--_lcl-text: max(
		0,
		1.14 *
		(
			pow(pow(pow(var(--_yl-text), 1.75) + 0.00009, 0.57143), 0.62) -
			pow(pow(pow(var(--_color-ybg), 1.75) + 0.00009, 0.57143), 0.65)
		) -
		0.027
	);
	--_ydr-text: clamp(
		0,
		(1 - max(0, sign(abs(var(--contrast-text)) - 0.022))) *
		(
			(1 - pow(sin(min(abs(var(--contrast-text)) / 0.022, 1) * 1.5708), 2.46)) *
			var(--_color-sc) +
			pow(sin(min(abs(var(--contrast-text)) / 0.022, 1) * 1.5708), 2.46) *
			pow(abs(pow(var(--_color-sc), 0.56) - 0.04298), 1.75439) *
			sign(pow(var(--_color-sc), 0.56) - 0.04298)
		) +
		max(0, sign(abs(var(--contrast-text)) - 0.022)) *
		pow(abs(pow(var(--_color-sc), 0.56) - (abs(var(--contrast-text)) + 0.027) / 1.14), 1.75439) *
		sign(pow(var(--_color-sc), 0.56) - (abs(var(--contrast-text)) + 0.027) / 1.14),
		1
	);
	--_yd-text: pow(max(0, pow(var(--_ydr-text), 1.75) - 0.00009), 0.57143);
	--_lcd-text: max(
		0,
		1.14 *
		(
			pow(pow(pow(var(--_color-ybg), 1.75) + 0.00009, 0.57143), 0.56) -
			pow(pow(pow(var(--_yd-text), 1.75) + 0.00009, 0.57143), 0.57)
		) -
		0.027
	);
	--_yt-text: calc(
		(
			(
				1 -
				max(
					max(0, sign(0.08 - var(--_lcl-text))) *
					max(0, sign(0.08 - var(--_lcd-text))),
					max(0, -1 * sign(var(--contrast-text))) *
					max(0, sign(var(--_ydr-text))) +
					max(0, sign(var(--contrast-text))) *
					max(0, sign(1 - var(--_ylr-text)))
				)
			) *
			max(
				0,
				sign(
					var(--_lcl-text) -
					var(--_lcd-text) +
					max(0, sign(var(--contrast-text))) *
					0.001 -
					max(0, -1 * sign(var(--contrast-text))) *
					0.001
				)
			) +
			max(
				max(0, sign(0.08 - var(--_lcl-text))) *
				max(0, sign(0.08 - var(--_lcd-text))),
				max(0, -1 * sign(var(--contrast-text))) *
				max(0, sign(var(--_ydr-text))) +
				max(0, sign(var(--contrast-text))) *
				max(0, sign(1 - var(--_ylr-text)))
			) *
			max(0, sign(var(--contrast-text)))
		) *
		var(--_yl-text) +
		(
			(
				1 -
				max(
					max(0, sign(0.08 - var(--_lcl-text))) *
					max(0, sign(0.08 - var(--_lcd-text))),
					max(0, -1 * sign(var(--contrast-text))) *
					max(0, sign(var(--_ydr-text))) +
					max(0, sign(var(--contrast-text))) *
					max(0, sign(1 - var(--_ylr-text)))
				)
			) *
			max(
				0,
				sign(
					-1 *
					(
						var(--_lcl-text) -
						var(--_lcd-text) +
						max(0, sign(var(--contrast-text))) *
						0.001 -
						max(0, -1 * sign(var(--contrast-text))) *
						0.001
					)
				)
			) +
			max(
				max(0, sign(0.08 - var(--_lcl-text))) *
				max(0, sign(0.08 - var(--_lcd-text))),
				max(0, -1 * sign(var(--contrast-text))) *
				max(0, sign(var(--_ydr-text))) +
				max(0, sign(var(--contrast-text))) *
				max(0, sign(1 - var(--_ylr-text)))
			) *
			max(0, -1 * sign(var(--contrast-text)))
		) *
		var(--_yd-text) +
		(1 - max(max(0, sign(var(--contrast-text))), max(0, -1 * sign(var(--contrast-text))))) *
		var(--_color-ybg)
	);
	--_cl-text: pow(
		var(--_yt-text) /
		(
			1 +
			var(--_color-fA) *
			var(--chroma) +
			var(--_color-fB) *
			pow(var(--chroma), 2) +
			var(--_color-fD) *
			pow(var(--chroma), 3)
		),
		0.33333
	);
	--_color-mc-text: calc(
		(1 - max(0, sign(var(--_cl-text) - var(--_color-apexL)))) *
		var(--_color-apexC) *
		var(--_cl-text) /
		var(--_color-apexL) +
		max(0, sign(var(--_cl-text) - var(--_color-apexL))) *
		(
			var(--_color-apexC) *
			(1 - var(--_cl-text)) /
			(1 - var(--_color-apexL)) +
			var(--_color-curvature) *
			pow(
				sin(max(0, (var(--_cl-text) - var(--_color-apexL)) / (1 - var(--_color-apexL))) * pi),
				0.95
			) *
			var(--_color-apexC)
		)
	);
	--color-text: oklch(
		var(--_cl-text) calc(var(--_color-mc-text) * var(--chroma)) var(--_color-hue)
	);
}

.preview {
	--_color-hue: 240;
	--_color-apexL: 0.68;
	--_color-apexC: 0.20342;
	--_color-curvature: -0.02484;
	--_color-fA: 0.04705;
	--_color-fB: -0.02418;
	--_color-fD: -0.00292;
}
